<div class="queryContainer" layout="row" layout-align="space-between center" flex>
  <section class="queryBox" flex="90" md-whiteframe="3">
    <span>{{display}}</span>
  </section>
  <section flex="10">
    <md-button class="md-fab md-raised md-primary md-mini" ui-sref="searchResults" aria-label="Search" ng-click="search()">&#128269;
      <md-tooltip md-direction="top">
            <span class="addbuttontip">Search</span>
      </md-tooltip>
    </md-button>
    <md-button class="md-fab md-raised md-primary md-mini" aria-label="Save Query">&#x1f4be;
      <md-tooltip md-direction="top">
            <span class="addbuttontip">Save Query</span>
      </md-tooltip>
    </md-button>
  </section>
</div>
